:root {
  --accent-color: #1bff07;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  background-color: #000;
  color: #cf1818;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1180px;
}

.title {
  font-size: 55px;
  letter-spacing: -1.65px;
}

.section-title {
  margin-bottom: 11px;
  font-size: 35px;
  letter-spacing: -1.05px;
  color: var(--accent-color);
}

/* HEADER================== */

.header {
  position: relative;
  background: url(./../img/header-bg.jpg) top / cover no-repeat;
}

.header:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.header-inner {
  position: relative;
  padding-top: 27px;
  display: flex;
  justify-content: space-between;
  z-index: 9;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 130px;
  height: 39px;
  border-radius: 100px;
  font-size: 42.414px;
  font-weight: 700;
  letter-spacing: -4.666px;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 1);
  color: var(--accent-color);
}

.nav__list {
  display: flex;
  gap: 50px;
}

.nav__item {
  display: flex;
}

.nav__link {
  cursor: pointer;
  font-size: 18px;
  line-height: normal;
  letter-spacing: -0.54px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.nav__link:hover {
  color: var(--accent-color);
}

.header-description {
  position: relative;
  padding-top: 252px;
  padding-bottom: 85px;
  z-index: 9;
}

.header-description__text {
  margin-bottom: 29px;
  width: 470px;
  letter-spacing: -0.6px;
}

.header-description__title {
  width: 919px;
  font-size: 80px;
  line-height: 0.875;
  letter-spacing: -2.4px;
  color: var(--accent-color);
}

/* HEADER==================/ */

/* PROJECTS================ */

.projects,
.competencies,
.services {
  padding-top: 150px;
}

.project-list {
  margin-bottom: 80px;
}

.projects-title {
  margin-bottom: 40px;
}

.projects-list__item {
  position: relative;
  height: 550px;
}

.projects-list__item img {
  border-radius: 33px;
}

.projects-list__description {
  position: absolute;
  bottom: 50px;
  left: 50px;
  max-width: 500px;
}

.projects-list__name {
  font-size: 35px;
  letter-spacing: -1.05px;
}

.projects-list__text {
  font-size: 30px;
  letter-spacing: -0.9px;
}

.projects__btn {
  width: 582px;
  height: 153px;
  border-radius: 10px;
  font-size: 30px;
  letter-spacing: 1.5px;
  background-color: var(--accent-color);
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.projects__btn:hover {
  border: 1px solid var(--accent-color);
  background-color: transparent;
  color: var(--accent-color);
}

/* PROJECTS================/ */

/* COMPETENCIES============= */

.competencies-title {
  margin-bottom: 48px;
}

.competencies-list__item {
  max-width: 778px;
}

.competencies-list__icon {
  margin-bottom: 10px;
}

.competencies-list__text {
  margin-bottom: 63px;
  font-size: 22px;
  letter-spacing: -0.66px;
}

/* COMPETENCIES================/ */

/* SERVICES===================== */

.services {
  padding-bottom: 150px;
}

.services__title {
  margin-bottom: 74px;
  width: 630px;
}

.services-list__item img {
  border-radius: 30px;
  vertical-align: bottom;
}

.services-list__description {
  padding: 40px;
  border-radius: 30px;
  background-color: #191c19;
}

.services-list__text {
  width: 724px;
}

/* SERVICES================/ */

/* CONTACTS================ */

.contacts {
  position: relative;
  background-color: #191c19;
}

.contacts-image {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.contacts-image img {
  height: 717px;
  border-radius: 0 30px 30px 0;
}

.contacts-content__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 320px;
  padding-bottom: 89px;
}

.contacts-content__block a:not(:last-child) {
  margin-bottom: 20px;
}

.contacts-content__title {
  display: inline-block;
  margin-bottom: 28px;
  font-size: 35px;
  letter-spacing: -1.05px;
  line-height: 1;
}

.contacts-content__social,
.contacts-content__tel,
.contacts-content__mail {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1.8px;
  transition: color 0.5s ease-in-out;
}

.contacts-content__social:hover,
.contacts-content__tel:hover,
.contacts-content__mail:hover {
  color: var(--accent-color);
}

/* CONTACTS==========/ */

/* FOOTER============ */

.footer {
  padding-top: 150px;
  background-color: #000;
  font-family: 'Manrope', sans-serif;
}

.footer-inner {
  padding-top: 76px;
  padding-bottom: 15px;
  border-radius: 30px 30px 0 0;
  background-color: #fff;
  color: #000;
}

.footer-inner__title {
  margin-bottom: 66px;
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}

.footer-inner__copyright {
  font-size: 22px;
  line-height: normal;
  letter-spacing: -0.66px;
}
/* FOOTER============/ */
